<!DOCTYPE html>

<html lang="en">

<head>
	<title>Napasha Way Essential Oils</title>

	<meta charset="UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="Title" CONTENT="Napasha Way Essential Oils">

	<meta name="Keywords" CONTENT="Essential Oils Napsha Way.com Balsam Copaiva Moringa Papaya Seabuckthorn Sweet Birch Cucumber Seed Guava Prickly Pear Calendula Marigold Clementine Orange Cypress Eucalyptus smithii Havozo Holy Basil Ravensare Turmeric Vetiver">

	<meta name="Description" CONTENT="Artisan essential oils of rare potency. Safe usage info, recipes and other products created with these same oils of organic and/or wild crafted origins.">

	<meta name="Subject" CONTENT="Welcome to Napasha Way">




	<!-- FC script insertion -->{{ fc_header_content|raw }}
	<!-- /FC script insertion -->

	<link href="{{ config.css_file }}" rel="stylesheet" media="all">





	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Titillium+Web:400,600|Bad+Script|Arima+Madurai:200,300,400,500,700,800'
	 rel='stylesheet' type='text/css'>

	<!--build:css css/main.min.css-->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media-320x413.css">
	<link rel="stylesheet" href="css/media-414x568.css">
	<link rel="stylesheet" href="css/media-569x767.css">
	<link rel="stylesheet" href="css/media-768x950.css">
	<link rel="stylesheet" href="css/jquery.sidr.light.css">
	<!--endbuild-->

</head>

<body class="body-plain" data-fc-context='{"cart_is_fullpage":true}'>

	<header class="banner">
		<div class="banner__logo--left">
			<svg width="100%" height="100%" viewBox="0 0 1850 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			 xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;">
				<g>
					<clipPath id="_clip1">
						<path d="M24.119,8.298l180.87,0l0,183.404l-180.87,0l0,-183.404Zm90.435,5.175c-47.803,0 -86.554,38.739 -86.554,86.527c0,47.788 38.751,86.527 86.554,86.527c47.802,0 86.554,-38.739 86.554,-86.527c0,-47.788 -38.752,-86.527 -86.554,-86.527Z" />
					</clipPath>
					<g clip-path="url(#_clip1)">
						<path d="M114.554,13.473c47.802,0 86.554,38.739 86.554,86.527c0,47.788 -38.752,86.527 -86.554,86.527c-47.803,0 -86.554,-38.739 -86.554,-86.527c0,-47.788 38.751,-86.527 86.554,-86.527Z"
						 style="fill-opacity:0.74902;fill-rule:nonzero;" />
					</g>
					<path d="M114.554,185.234c-47.088,0 -85.26,-38.161 -85.26,-85.234c0,-47.073 38.172,-85.233 85.26,-85.233c47.088,0 85.26,38.16 85.26,85.233c0,47.073 -38.172,85.234 -85.26,85.234Z"
					 style="fill:url(#_Radial2);fill-rule:nonzero;" />
					<path d="M114.554,185.234c-47.088,0 -85.26,-38.161 -85.26,-85.234c0,-18.45 5.864,-35.531 15.831,-49.482c15.462,-21.642 40.797,-35.751 69.429,-35.751c12.752,0 24.85,2.799 35.713,7.815c29.25,13.507 49.547,43.093 49.547,77.418c0,47.073 -38.172,85.234 -85.26,85.234Z"
					 style="fill-opacity:0;fill-rule:nonzero;stroke:#000;stroke-width:1.29px;" />
					<path d="M114.554,58.371c-10.653,0 -19.289,-8.584 -19.289,-19.173c0,-10.588 8.636,-19.173 19.289,-19.173c10.653,0 19.289,8.585 19.289,19.173c0,10.589 -8.636,19.173 -19.289,19.173Z"
					 style="fill:#f0f426;fill-rule:nonzero;" />
					<path d="M175.364,158.463l-61.277,-109.693l-33.688,64.072l-11.251,-29.167l-25.29,63.151c36.269,53.164 102.248,45.041 131.506,12.482"
					 style="fill:#4a6d12;fill-rule:nonzero;" />
					<path d="M175.364,158.463l-60.81,-109.693l-34.155,64.072l-11.251,-29.167l-25.29,63.151c36.269,53.164 102.248,45.041 131.506,12.482"
					 style="fill-opacity:0;fill-rule:nonzero;stroke:#000;stroke-width:0.97px;stroke-linecap:round;stroke-linejoin:round;" />
					<path d="M151.115,175.97c-31.095,16.695 -63.216,5.925 -76.995,-1.364c6.242,-34.749 29.966,-61.143 59.723,-63.609c10.883,-0.902 16.444,-1.743 27.359,3.418c7.405,3.5 14.329,14.438 14.162,23.914c-0.276,15.67 -2.494,-4.834 -14.924,-5.842c-5.397,-0.437 -11.272,-0.937 -17.556,6.007c-1.656,1.83 -14.115,26.709 8.231,37.476"
					 style="fill:url(#_Linear3);fill-rule:nonzero;stroke:#05005d;stroke-width:0.5px;stroke-linejoin:round;stroke-miterlimit:1.41421;" />
				</g><text x="277px" y="140.573px" style="font-family:'ArimaMadurai-Regular', 'Arima Madurai';font-size:128px;fill:#0977c7;">Napasha
					Way Essential Oils</text>
				<defs>
					<radialGradient id="_Radial2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(85.2606,0,0,85.2606,114.554,100)">
						<stop offset="0" style="stop-color:#fff;stop-opacity:1" />
						<stop offset="0.04" style="stop-color:#fff;stop-opacity:1" />
						<stop offset="1" style="stop-color:#578ce4;stop-opacity:1" />
					</radialGradient>
					<linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(131.072,-4.59213,4.59213,131.072,91.6799,148.21)">
						<stop offset="0" style="stop-color:#0d99fc;stop-opacity:1" />
						<stop offset="1" style="stop-color:#045591;stop-opacity:1" />
						<stop offset="1" style="stop-color:#045591;stop-opacity:1" />
					</linearGradient>
				</defs>
			</svg>
		</div>
	</header>

	<nav class="primary-nav-desktop-wrapper">
		<div class="js-primary-nav-sticky primary-nav--desktop primary-nav">
			<div class="primary-nav-bar">
				<ul class="primary-nav__ul">
					<li><a href="index.html">Home</a></li>
					<li><a class="parent">Store</a>
						<ul>
							<li><a href="store.html">Essential Oil Singles</a></li>
							<li><a href="oils-family.html">Oil Families</a></li>
							<li><a href="oils-blends.html">Essential Oil Blends</a></li>
							<li><a href="oils-botanical.html">Botanical Oils</a></li>
							<li><a href="oils-spiritual.html">Spiritual Oil Blends</a></li>
							<li><a href="products.html">Other Products</a></li>
						</ul>
					</li>
					<li><a href="recipies.html">Recipes</a></li>
					<li><a class="parent">Reference</a>
						<ul>
							<li><a href="aboutoils.html">All About Oils</a></li>
							<li><a href="herbalref.html">Herbal Terms</a></li>
						</ul>
					</li>
					<li><a class="parent">Health</a>
						<ul>
							<li><a href="dis-ease.html">Dis-ease</a></li>
							<li><a href="lifestyle.html">Whole Living</a></li>
							<li><a href="thoughts.html">Thoughts</a></li>
						</ul>
					</li>
					<li><a href="meridians.html">Meridians</a></li>
					<li><a href="massage.html">Massage</a></li>
					<li><a href="aboutus.html">About Us</a></li>
					<li><a href="blog/index.php">Blog</a></li>
				</ul>

				<div class="clrfix"></div>

			</div>
		</div>
	</nav>

	<nav class="primary-nav-mobile-wrapper" role="navigation">
		<div class="js-primary-nav-sticky primary-nav-bar--flex">
			<div class="primary-nav-bar--burger">
				<a id="js-primary-nav-link" href="#">
					<div id="js-primary-nav-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>

			<div class="primary-nav-bar--logo fade-out">
				<svg width="100%" height="100%" viewBox="0 0 1850 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;">
					<g>
						<clipPath id="_clip1">
							<path d="M24.119,8.298l180.87,0l0,183.404l-180.87,0l0,-183.404Zm90.435,5.175c-47.803,0 -86.554,38.739 -86.554,86.527c0,47.788 38.751,86.527 86.554,86.527c47.802,0 86.554,-38.739 86.554,-86.527c0,-47.788 -38.752,-86.527 -86.554,-86.527Z" />
						</clipPath>
						<g clip-path="url(#_clip1)">
							<path d="M114.554,13.473c47.802,0 86.554,38.739 86.554,86.527c0,47.788 -38.752,86.527 -86.554,86.527c-47.803,0 -86.554,-38.739 -86.554,-86.527c0,-47.788 38.751,-86.527 86.554,-86.527Z"
							 style="fill-opacity:0.74902;fill-rule:nonzero;" />
						</g>
						<path d="M114.554,185.234c-47.088,0 -85.26,-38.161 -85.26,-85.234c0,-47.073 38.172,-85.233 85.26,-85.233c47.088,0 85.26,38.16 85.26,85.233c0,47.073 -38.172,85.234 -85.26,85.234Z"
						 style="fill:url(#_Radial2);fill-rule:nonzero;" />
						<path d="M114.554,185.234c-47.088,0 -85.26,-38.161 -85.26,-85.234c0,-18.45 5.864,-35.531 15.831,-49.482c15.462,-21.642 40.797,-35.751 69.429,-35.751c12.752,0 24.85,2.799 35.713,7.815c29.25,13.507 49.547,43.093 49.547,77.418c0,47.073 -38.172,85.234 -85.26,85.234Z"
						 style="fill-opacity:0;fill-rule:nonzero;stroke:#000;stroke-width:1.29px;" />
						<path d="M114.554,58.371c-10.653,0 -19.289,-8.584 -19.289,-19.173c0,-10.588 8.636,-19.173 19.289,-19.173c10.653,0 19.289,8.585 19.289,19.173c0,10.589 -8.636,19.173 -19.289,19.173Z"
						 style="fill:#f0f426;fill-rule:nonzero;" />
						<path d="M175.364,158.463l-61.277,-109.693l-33.688,64.072l-11.251,-29.167l-25.29,63.151c36.269,53.164 102.248,45.041 131.506,12.482"
						 style="fill:#4a6d12;fill-rule:nonzero;" />
						<path d="M175.364,158.463l-60.81,-109.693l-34.155,64.072l-11.251,-29.167l-25.29,63.151c36.269,53.164 102.248,45.041 131.506,12.482"
						 style="fill-opacity:0;fill-rule:nonzero;stroke:#000;stroke-width:0.97px;stroke-linecap:round;stroke-linejoin:round;" />
						<path d="M151.115,175.97c-31.095,16.695 -63.216,5.925 -76.995,-1.364c6.242,-34.749 29.966,-61.143 59.723,-63.609c10.883,-0.902 16.444,-1.743 27.359,3.418c7.405,3.5 14.329,14.438 14.162,23.914c-0.276,15.67 -2.494,-4.834 -14.924,-5.842c-5.397,-0.437 -11.272,-0.937 -17.556,6.007c-1.656,1.83 -14.115,26.709 8.231,37.476"
						 style="fill:url(#_Linear3);fill-rule:nonzero;stroke:#05005d;stroke-width:0.5px;stroke-linejoin:round;stroke-miterlimit:1.41421;" />
					</g><text x="277px" y="140.573px" style="font-family:'ArimaMadurai-Regular', 'Arima Madurai';font-size:128px;fill:#0977c7;">Napasha
						Way Essential Oils</text>
					<defs>
						<radialGradient id="_Radial2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(85.2606,0,0,85.2606,114.554,100)">
							<stop offset="0" style="stop-color:#fff;stop-opacity:1" />
							<stop offset="0.04" style="stop-color:#fff;stop-opacity:1" />
							<stop offset="1" style="stop-color:#578ce4;stop-opacity:1" />
						</radialGradient>
						<linearGradient id="_Linear3" x1="0" y1="0" x2="1" y2="0" gradientUnits="userSpaceOnUse" gradientTransform="matrix(131.072,-4.59213,4.59213,131.072,91.6799,148.21)">
							<stop offset="0" style="stop-color:#0d99fc;stop-opacity:1" />
							<stop offset="1" style="stop-color:#045591;stop-opacity:1" />
							<stop offset="1" style="stop-color:#045591;stop-opacity:1" />
						</linearGradient>
					</defs>
				</svg>
			</div>



			<div id="sidr" class="sidr">
				<ul class="primary-nav__ul">
					<li><a href="index.html">Home</a></li>
					<li><a href="store.html">Store</a></li>
					<li><a href="recipies.html">Recipes</a></li>
					<li><a href="aboutoils.html">Reference</a></li>
					<li><a href="dis-ease.html">Health</a></li>
					<li><a href="meridians.html">Meridians</a></li>
					<li><a href="massage.html">Massage</a></li>
					<li><a href="aboutus.html">About Us</a></li>
					<li><a href="blog/index.php">Blog</a></li>
				</ul>
			</div>
		</div>
	</nav>




			<div id="fc" class="fc-contentContainer">
				{% include 'svg.inc.twig' %}
			
				{% import "utils.inc.twig" as utils %}
				{% embed 'receipt.inc.twig' %}
				{% endembed %}
			</div>



	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>-->
	<script src="//cdn.foxycart.com/napashaway/loader.js" async defer></script>


	<!-- build:js scripts/main.min.js -->
	<script src="scripts/main.js"></script>
	<script src="scripts/jquery.sidr.js"></script>
	<!-- endbuild -->

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-66983904-1', 'auto');
		ga('send', 'pageview');
	</script>



	<!-- FC footer script insertion -->{% include template_from_string(fc_footer_content) %}
	<!-- /FC footer scripts -->




</body>

</html>