#js-primary-nav-icon {
  width: 40px;
  height: 32px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }

#js-primary-nav-icon span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .35s ease-in-out; }

#js-primary-nav-icon span:nth-child(1) {
  top: 0px; }

#js-primary-nav-icon span:nth-child(2),
#js-primary-nav-icon span:nth-child(3) {
  top: 12px; }

#js-primary-nav-icon span:nth-child(4) {
  top: 24px; }

#js-primary-nav-icon.open span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%; }

#js-primary-nav-icon.open span:nth-child(2) {
  transform: rotate(45deg); }

#js-primary-nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg); }

#js-primary-nav-icon.open span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%; }
