/*

    neo = "Napasha Essential Oils"

    main.css

*/



/**************** Media Queries ***************/


@import 'variables';


/* Medium devices (569px to 767px) */

@media (min-width: 569px) and (max-width: 767px) {
  .body-blue {
    background-size: 10%;
    min-width: 568px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.35em;
  }
  h3 {
    font-size: 1.2em;
  }
  .active {
    display: block;
  }
  .article--vertical-offset {
    padding-top: 125px;
  }
  .article--90 {
    width: 95%;
  }

  .blog-notify__wrapper {
    width: 100%;
    padding: 15px;
    font-size: .9em;
  }
  .img-blog {
    height: 96px;
  }

  .callout-large--center {
    width: 100%;
    padding: 5%;
    box-shadow: inset 0 0 5px 2px $color-callout-border;
  }

  .callout-small--left {
    width: 90%;
    padding: 25px;
    margin: 0 5% 25px 5%;
    box-shadow: inset 0 0 5px 2px $color-callout-border;
  }
  .callout-small--right {
    width: 90%;
    padding: 25px;
    margin: 0 5%;
    box-shadow: inset 0 0 5px 2px $color-callout-border;
  }
  .callout-medium--center {
    box-shadow: inset 0 0 5px 2px $color-callout-border;
    width: 85%;
  }
  .container-product {
    margin: 25px 0 50px 0;
  }


  .container-img-product {
    float: none;
    width: 20%;
    margin: 0 auto 25px auto;
  }
  .container-img-round {
    float: none;
    width: 50%;
    margin: 5px auto 15px auto;
  }
  .container-img-herb {
    float: none;
    width: 50%;
    margin: 5px auto 25px auto;
  }
  .container-img-large {
    float: none;
    width: 20%;
    margin: 5px auto 15px auto;
  }

  .container-recipe {
    width: 100%;
    padding: 25px 25px;
    margin: 25px 0 35px 27%;
  }
  .header--vertical-margin {
    margin: 15px 0;
  }
  .home-panel--large-text {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .home-panel--std-text {
    font-size: 1em;
    line-height: 1.25em;
  }

  .home-panel--small-text {
    font-size: 1em;
    line-height: .75em;
  }
  .home-panel-1--overtext {
    top: 15%;
  }
  .home-panel-2 {
    background-size: 12%;
  }

  .home-panel-3--overtext {
    width: 50%;
    top: 10%;
    left: 5%;
    padding: 10px;
  }
  .home-panel-6 {
    height: 300px;
  }
  .home-panel-6--overtext {
    top: 100px;
  }
  .home-panel-7 {
    height: 450px;
  }
  .home-panel-7--overtext {
    top: 150px;
  }
  .page-wrap {
    margin-left: 22%;
    width: 66%;
  }
  .page-wrap-large {
    width: 73%;
  }
  .page-wrap__page-title {
    padding: 25px 0 5px 0;
  }

  /***  ecomm styles  -  569 x 767  ***/

  .cart-wrap {
    padding-bottom: 15px;
  }
  .cart-label-left {
    margin: 0 0 15px 2%;
  }
  .form-cartbutton {
    font-size: 1em;
    border: none;
    padding: 3px;
    margin: 0 0 15px 0;
  }
  .form-addtocart {
    font-weight: normal;
    font-size: 1em;
    float: none;
  }
  .form-qtyspin {
    margin: 0 15px 5px 5px;
  }

  /***  search styles  -  569 x 767  ***/

  .search-container {
    height: 35px;
    padding: 2px 0 0 0;
    border-bottom: none;
  }
  .search-module {
    width: 500px;
    height: 32px;
    margin: 0 5px;
  }
  .search-module input {
    line-height: 1em;
    margin-right: 8px;
  }
  .search-module input[type="text"] {
    height: 15px;
    margin: 1px 50px 0 5px;
  }
  .search-form {
    margin-top: 2px;
    padding: 0 0 0 5px;
  }
  .search-button {
    width: 4.5em;
    height: 20px;
    margin-left: 1px;
  }
  .search-button.button {
    font-size: 1em;
  }
  .search-icon {
    height: 25px;
    padding-top: 0;
    margin-top: 0;
  }

  /*** image styles  -  569 x 767  ***/

  .img-center {
    width: 40%;
  }

  .img-ml5 {
  }

  .img-herb,
  .img-product-round,
  .img-product-large {
    border-radius: 3px;
  }

  .img-social-fb {
    height: 32px;
  }
  .img-ccards {
    height: 32px;
  }

  /***  neo nav styles  -  569 x 767  ***/

  .context-menu {
    box-shadow: 7px 7px 2px rgb(60, 60, 60);
    width: 17%;
    top: 120px;
    max-width: 125px;
    margin-left: 2%;
  }
  .context-menu--wSearch {
    box-shadow: 7px 7px 2px rgb(60, 60, 60);
    width: 17%;
    top: 190px;
    max-width: 125px;
    margin-left: 3%;
  }
  .horizontal-menu-outer {
    display: block;
  }
  .horizontal-menu-inner {
    width: 500px;
  }

.nav-wrap {
  height: 30px;
}
.nav-wrap-wsearch {
  height: 85px;
}

.primary-nav-bar {
  height: 30px;
}

.primary-nav--desktop {
  font-size: calc( 11px + ((11 - 8) * ((100vw - 569px) / (767 - 569))) );
}

.primary-nav__ul a {
  padding: 5px calc( 8px + ((10 - 8) * ((100vw - 569px) / (767 - 569))) );
}

.primary-nav__ul {
  width: calc( 525px + ((600 - 525) * ((100vw - 569px) / (767 - 569))) );
}

  .primary-nav__cart-icon{
    height: 18px;
  }

  .oil-family-links {
    display: none;
  }
  .store-subnav-offset {
    padding-top: 150px;
  }

  /***  font styles  -  569 x 767  ***/

  .badscript {
    font-size: 1.25em;
  }
  .badscript-medium {
    font-size: 1.5em;
  }
  .badscript-medium-plus {
    font-size: 1.85em;
  }
  .badscript-large {
    font-size: 2em;
    line-height: 1em;
  }
  .ptext-large {
    font-size: 1.2em;
  }
  .ptext-page-title {
    font-size: 1.5em;
    margin: 0;
  }

  .ptext,
  .ptext-bold,
  .ptext-italic {
    font-size: 1rem;
    line-height: 1.65rem;
  }

  .ptext-small-no-just {
    line-height: 1.25rem;
    text-align: left;
  }

  .ptext-cmenu,
  .ptext-cmenu-italic {
    font-size: .7em;
    line-height: .7em;
  }
  .ptext-product-name {
    font-size: 1.2em;
    float: none;
    margin: 10px 0 0 2%;
  }
  .ptext-hmenu {
    display: inline;
    font-size: .9em;
    padding-left: 40px;
  }
  .ptext-hmenu:first-child {
    padding-left: 0;
  }
  /***  footer styles  -  569 x 767  ***/

  .footer-full {
    width: 100%;
    min-width: 568px;
    padding: 35px 0;
    background-color: $color-context-menu-bg;
    border-top: solid rgb(121, 151, 180) 1px;
    overflow: hidden;
    z-index: 10;
  }
  .footer-full__left {
    width: 24%;
    float: left;
    margin: 0 5% 0 2%;
  }
  .footer-full__mid-left {
    width: 12%;
    float: left;
    padding-top: 0;
    margin-right: 2%;
  }
  .footer-full__mid-logo {
    width: 10%;
    float: left;
    margin-top: 10px;
    text-align: center;
  }
  .footer-full__logo-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .footer-full__mid-right {
    width: 12%;
    float: left;
    text-align: right;
    padding-top: 0;
    margin-left: 2%;
  }
  .footer-full__right {
    width: 24%;
    float: left;
    margin: 0 2% 0 5%;
  }
  .footer-full__bottom-left {
    margin-left: 2%;
    float: left;
  }
  .footer-full__bottom-right {
    margin-right: 2%;
    float: right;
  }
  .footer-social-icon-inner {
    width: 350px;
  }
}

/*  end 568px x 767px  */
